<%- include ('layouts/header.ejs') -%>
  <div class="text-center h-25">
    <h1>
      <%= title %>
    </h1>
    <p>Bienvenido al <%= title %>
    </p>
  </div>
<%- include ('layouts/footer.ejs') -%>